/*
 CSS Stylesheet
 */

/* Styling for HTML elements */

h5 {
  font-size: 20px;
}


/* Selecting elements by class */

#img {
  margin-left: 180px;
} 


.jumbotron text-center {
  margin: 100px;
} 

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}